{% extends 'base.html.twig' %}

{% block title %}{% trans %}Characters{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Characters{% endtrans %}</h1>

    <table class="table table-hover table-striped table-dark">
        <thead class="thead-dark">
            <tr>
                <th scope="col">{% trans %}Character name{% endtrans %}</th>
                <th scope="col">{% trans %}Player name{% endtrans %}</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for character in characters %}
            <tr>
                <td>{{ character.characterName }}</td>
                <td>{{ character.player }}</td>
                <td>
                    <a href="{{ path('character_show', {'id': character.id}) }}">
                        <i title="{% trans %}show{% endtrans %}" class="far fa-eye"></i>
                    </a>
                    <a href="{{ path('character_edit', {'id': character.id}) }}">
                        <i title="{% trans %}edit{% endtrans %}" class="far fa-edit"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{% trans %}No character found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('character_new') }}" class="btn btn-primary btn-lg">{% trans %}Create new character{% endtrans %}</a>
{% endblock %}
